body{
    font-family: 'Poppins', sans-serif;
margin: 0%;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 43px;
    font-weight: 600;
}
h4{
    font-weight: 200;
}
p{
    font-size: 25px;
}
.orange-color{
    color: rgb(245, 146, 17);
}
.Dark-Grey{
    color: rgb(97, 95, 95);
}
section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 2%;
    padding-top: 9%;
}
.half-width img{
width: 100%;
padding-right: 5%;
padding-bottom: 10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 35px;
}
.Order-Food{
    background-image: url(images/female/Group\ 8425.png):
   
 background-position:right ;
 background-repeat:no-repeat;
    
}
.flexible-container{
    display: flex;
    padding-left: 5%;
    margin-bottom:20px;

}
.About-Me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
}
.About-Me img{
    width: 50%;
padding-left: 30%;
}
.My-Recipies{
    text-align: center;
    padding-left: 25%;
    padding-right: 10%;
    padding-bottom: 2%;
    width: 50%;
}

.Reciepe-item{ 
width: 40%;
margin-left: 2%;
margin-right: 2%;
border: 10px;
padding-left: 2%;
padding-right: 2%;
padding-top: 2%;
padding-bottom: 2%;
border-radius: 30px;
box-shadow: 10px 10px 40px grey;
}
.flexible-container-box{
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    border: 10px;
   box-shadow: 5px 5px 30px grey;
}
    
