body{
    font-family: 'Poppins', sans-serif;
margin: 0%;
}

h1{
    font-size: 60px;
    
}
h2{
    font-size: 43px;
    font-weight: 600;
}
h4{
    font-weight: 200;
}
p{
    font-size: 25px;

}
.orange-color{
    color: rgb(245, 146, 17);
}
.Dark-Grey{
    color: rgb(97, 95, 95);
}
section{
    display: flex;

}

.half-width{
    width: 50%;
    padding-left: 2%;
    padding-top: 9%;
}
.half-width img{
width: 100%;
padding-right: 5%;
padding-bottom: 10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 35px;
}
.Order-Food{
    background-image: url(images/female/Group\ 8425.png):
   
 background-position:right ;
 background-repeat:no-repeat;
    
}
.flexible-container{
    display: flex;
    padding-left: 5%;
    margin-bottom:20px;
}
.About-Me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
}
.About-Me img{
    width: 50%;
padding-left: 30%;
}

